In [ ]:
## questiion 1
##

In [ ]:
## make a list of 5 random numbers
## question 2
import random
numbers=[]
for i in range(5):
    numbers.append(random.randint(1,100))
print(numbers)

[52, 53, 14, 91, 22]

In [ ]:
## question 3
## first 10 characters of the alphabet
import string
alphabet=list(string.ascii_lowercase[:10])
print(alphabet)
##   or  alphabet = list("abcdefghijklmnopqrstuvwxyz"[:10])

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
## question 4
## usig map convert the lsit of functions to their ascii values of random cahracters
char=list(map(ord,alphabet))
print(char)

[97, 98, 99, 100, 101, 102, 103, 104, 105, 106]

In [ ]:
## question 5
## reduce func. tonfind the sum of first 10 natural numbers
from functools import reduce

l = range(0,11)

# Sum of all numbers
sum_result = reduce(lambda x, y: x + y, l)
print("Sum:", sum_result)

Sum: 55

In [ ]:
## question 6
## filter func. to filter out even numbers from the list, ## lsit to tuple or tuple to list
numbers = list(range(1,10))
# Filter even numbers
even_numbers = tuple(filter(lambda x: x % 2 == 0, numbers))
print("Even numbers:", even_numbers)

Even numbers: (2, 4, 6, 8)

In [ ]:
## question 7
## map function to print the double value of each element in a list as well as random number as extra
import random
numbers = random.sample(range(1,11), 5)
double_numbers = list(map(lambda x: x * 2, numbers))
print("Original numbers:", numbers)
print("Doubled numbers:", double_numbers)

Original numbers: [3, 5, 6, 1, 10]
Doubled numbers: [6, 10, 12, 2, 20]

In [ ]:
## question 8
## create a list [a,b,b] and convert to tuple and print
list1 = ['a', 'b', 'b']
tuple1 = tuple(list1)
print(tuple1)

tuple2=('a','b','c')
list2=list(tuple2)
print(list2)

('a', 'b', 'b')
['a', 'b', 'c']

In [ ]:
## question 9
## create and tuple an dprint its length
tup1=('a','b','c')
length=len(tup1)
print(length)

3

In [ ]:
## question 10
## creata a dictonary of products purchased and their mrp's .calculate the bill and display to the customer
products={'apple':50,'orange':10}
print('products and mrps',products)
total_bill=sum(products.values())
print('total bill',total_bill)

products and mrps {'apple': 50, 'orange': 10}
total bill 60

In [ ]:
## quesrion 11
## prompt the user to input a string and return in alphabetical order and freequency of occurance in that string
s = input("Enter a string: ")
freq = {}
for char in s:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
for char in sorted(freq):
    print(f"'{char}': {freq[char]}")

Enter a string: hello
'e': 1
'h': 1
'l': 2
'o': 1

In [ ]:
## alternate of above one
s = "banana"
freq = {}

for char in s:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1
print(freq)

{'b': 1, 'a': 3, 'n': 2}

In [ ]:
##question 12
##

In [ ]:
## question 13
##

In [ ]:
## question 14
## program to print the maximum and minimum value in a dictonary
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print(max_value)
print(min_value)

20
5

In [ ]:
## question 15
## object's field

In [ ]:
## question 16
## remove duplicates from a dictonary
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2}
unique_dict = {}
for key, value in my_dict.items():
    if value not in unique_dict.values():
        unique_dict[key] = value
print(unique_dict)

{'a': 1, 'b': 2, 'd': 3}

In [ ]:
## question 17
## check weather the dictonary has some key value pair stored in it or not ## co relate with  above program and write
my_dict = {'a': 1, 'b': 2, 'c': 3}
if my_dict:
    print("Dictionary is not empty")
else:
    print("Dictionary is empty")

Dictionary is not empty

In [ ]:
## question 18
## question 19
## not in syllabus

In [ ]:
## question 20
## prints the maximum value of second half of thr list

## if in first half my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
#max_value = max(my_list[:len(my_list)//2])
#print("Max value in first half:", max_value)

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max_value = max(my_list[len(my_list)//2:])
print(max_value)

10

In [ ]:
## question 21
##  find the sum of all numbers in a list using while loop
my_list = [1, 2, 3, 4, 5]
total = 0
i = 0
while i < len(my_list):
    total += my_list[i]
    i += 1
print(total)

15

In [ ]:
## question 22
## sum of all even numbers in a list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = 0
for num in my_list:
    if num % 2 == 0:
        total += num
print(total)

30

In [45]:
## question 23
## reverse the list using a loop
my_list = [1, 2, 3, 4, 5]
reversed_list = []
for item in my_list[::-1]:
    reversed_list.append(item)
print(reversed_list)

[5, 4, 3, 2, 1]

In [ ]:
## question 24
## find weatrher the particular elememt is present in the lsit or not using loop
my_list = [1, 2, 3, 4, 5]
element = 3
found = False

for item in my_list:
    if item == element:
        found = True
        print("Element found")
        break
if not found:
    print("Element not found")

Element found

In [ ]:
## question 25
## write a program that promots te user enter a alphabet .print all the words in the list that start with alphabets
# List of words
words = ["apple", "banana", "grape", "avocado", "cherry", "apricot"]

# Prompt user for input
letter = input("Enter an alphabet: ").lower()

# Print words starting with that letter
print(f"Words starting with '{letter}':")
for word in words:
    if word.startswith(letter):
        print(word)

Enter an alphabet: a
Words starting with 'a':
apple
avocado
apricot

In [ ]:
## question 26
## print all consonants in a list using list comprehension
vowels = ['a', 'e', 'i', 'o', 'u']
string = "Hello, World!"
consonants = [char for char in string if char.isalpha() and char.lower() not in vowels]
print(consonants)

['H', 'l', 'l', 'W', 'r', 'l', 'd']

In [21]:
## 29
lst = [1, 2, 3, 4, 3, 2, 1, 2, 4, 5, 6, 4, 2, 6, 4, 9, 8, 987]

for i in set(lst):  # use set() to avoid repeating same number
    count = lst.count(i)
    print(f"{i} appears {count} times in the list.")

1 appears 2 times in the list.
2 appears 4 times in the list.
3 appears 2 times in the list.
4 appears 4 times in the list.
5 appears 1 times in the list.
6 appears 2 times in the list.
8 appears 1 times in the list.
9 appears 1 times in the list.
987 appears 1 times in the list.

In [54]:
## question 30
## insert a value in a specified location in a list using while loop
my_= [1, 2, 3, 4, 5]
value = 6
index = 2
while index < len(my_):
    my_.insert(index, value)
    break
print(my_)

[1, 2, 6, 3, 4, 5]

In [55]:
## question 33
# Create a list of numbers from 1 to 50
numbers_list = list(range(1, 51))

# Print the list
print(numbers_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [51]:
print('hello')

hello

In [58]:
# Remove any variable named 'list' that might be blocking the built-in
if 'list' in globals():
    del list

In [59]:
numbers_=list(range(1,51))
print(numbers_)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [60]:
## question 32
numbers = list(range(1, 21))
cubes = list(map(lambda x: x**3, numbers))
print("Cubes of numbers from 1 to 20:")
print(cubes)

Cubes of numbers from 1 to 20:
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [65]:
## question 33
nums=list(range(1,20))
for i in nums:
  if i%3==0:
    nums.remove(i)
print(nums)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [67]:
## question 34
## sum of all values in a list using reduce function
from functools import reduce
numb = [1, 2, 3, 4, 5]
sum_of_values = reduce(lambda x, y: x + y, numb)
print(sum_of_values)

15

In [68]:
## question 35
## program to transpose 2 matricews
matrix1 = [[1, 2, 3], [4, 5, 6]]
matrix2 = [[7, 8], [9, 10], [11, 12]]
result = [[0 for _ in range(len(matrix2[0]))] for _ in range(len(matrix1))]
for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result[i][j] += matrix1[i][k] * matrix2[k][j]
            print(result)

[[7, 0], [0, 0]]
[[25, 0], [0, 0]]
[[58, 0], [0, 0]]
[[58, 8], [0, 0]]
[[58, 28], [0, 0]]
[[58, 64], [0, 0]]
[[58, 64], [28, 0]]
[[58, 64], [73, 0]]
[[58, 64], [139, 0]]
[[58, 64], [139, 32]]
[[58, 64], [139, 82]]
[[58, 64], [139, 154]]

In [69]:
## 36
## program that accepts different number of arguments and returns different values passed to it
def func(*args):
    if len(args) == 0:
        return None
    elif len(args) == 1:
        return args[0]
    else:
        return args
result = func(1, 2, 3)
print(result)

(1, 2, 3)

In [ ]:
## 39 do by urself using dictonary comprehension

In [71]:
## Question 40
## using nested dictonary display the information about the employee.
employee = {
    "name": "John Doe",
    "age": 30,
    "department": {
        "name": "HR",
        "location": "New York"
    },
    "salary": 50000
}
print(employee)

{'name': 'John Doe', 'age': 30, 'department': {'name': 'HR', 'location': 'New York'}, 'salary': 50000}

In [80]:
## 41
import random
x = random.sample(range(1, 101), 10) # Changed 'elements' to 'sample' for getting a list of unique elements
print(x)
squares=[i**2 for i in x]
print(squares)

[97, 22, 92, 89, 27, 85, 13, 38, 34, 99]
[9409, 484, 8464, 7921, 729, 7225, 169, 1444, 1156, 9801]